 /* === Theme variables === */

  :root,
  [data-bs-theme="light"] {
    /*–– Primary stats ––*/
    --stat-stragiint: #FFD100; /* gold “all‑stat” */
    --stat-stragi:    #8B008B; /* silver “str/agi” hybrid */
    --stat-int:       #69CCF0; /* blue */
    --stat-str:       #C41F3B; /* red */
    --stat-agi:       #AACC22; /* green */
    --stat-sta:       #FFFB00; /* bright yellow */

    /*–– Secondary stats ––*/
    --stat-mastery:   #3AD54F; /* green mastery icon */
    --stat-haste:     #FF8000; /* orange */
    --stat-crit:      #E52B50; /* crimson */
    --stat-vers:      #00F5FF; /* cyan */

    /*–– Tertiary stats ––*/
    --stat-runspeed:  #888888; /* mid gray */
    --stat-avoidance: #B0BEC5; /* cool gray */
    --stat-leech:     #D4D4D4; /* dark magenta */

    /*–– Rarities ––*/
    --quality-0: #9D9D9D; /* poor */
    --quality-1: #312e2e; /* common */
    --quality-2: #1EFF00; /* uncommon */
    --quality-3: #0070DD; /* rare */
    --quality-4: #A335EE; /* epic */
    --quality-5: #FF8000; /* legendary */
    --quality-6: #E6CC80; /* artifact */
    --quality-7: #00ccff; /* heirloom*/
    --quality-8: #00ccff; /* token */

  }
  [data-bs-theme="dark"] {
    /*–– Primary stats ––*/
    --stat-stragiint: #FFDB4D;
    --stat-stragi:    #A44DAA;
    --stat-int:       #7FCFFB;
    --stat-str:       #D45765;
    --stat-agi:       #B6D94F;
    --stat-sta:       #FFF266;

    /*–– Secondary stats ––*/
    --stat-mastery:   #5DD96E;
    --stat-haste:     #FF9433;
    --stat-crit:      #F16B82;
    --stat-vers:      #33FFFF;

    /*–– Tertiary stats ––*/
    --stat-runspeed:  #AAAAAA;
    --stat-avoidance: #CFD8DC;
    --stat-leech:     #E0E0E0;

    /*–– Rarities ––*/
    --quality-0: #9D9D9D; /* poor */
    --quality-1: #FFFFFF; /* common */
    --quality-2: #1EFF00; /* uncommon */
    --quality-3: #0070DD; /* rare */
    --quality-4: #A335EE; /* epic */
    --quality-5: #FF8000; /* legendary */
    --quality-6: #E6CC80; /* artifact */
    --quality-7: #00ccff; /* heirloom*/
    --quality-8: #00ccff; /* token */
  }


/* === Stat classes === */
.stat-stragiint { background-color: var(--stat-stragiint); color: var(--bs-gray-dark);} 
.stat-stragi    { background-color: var(--stat-stragi);    color: var(--bs-gray-dark); }
.stat-int       { background-color: var(--stat-int);       color: var(--bs-gray-dark);  }
.stat-str       { background-color: var(--stat-str);       color: var(--bs-gray-100); }
.stat-agi       { background-color: var(--stat-agi);       color: var(--bs-gray-dark); }
.stat-sta       { background-color: var(--stat-sta);       color: var(--bs-gray-dark); }

.stat-mastery   { background-color: var(--stat-mastery);   color: var(--bs-gray-dark); }
.stat-haste     { background-color: var(--stat-haste);     color: var(--bs-gray-dark); }
.stat-crit      { background-color: var(--stat-crit);      color:  var(--bs-gray-100); }
.stat-vers      { background-color: var(--stat-vers);      color: var(--bs-gray-dark); }
.stat-leech     { background-color: var(--stat-leech);     color:  var(--bs-gray-dark); }

.stat-runspeed  { background-color: var(--stat-runspeed);  color:  var(--bs-gray-dark);}
.stat-avoidance { background-color: var(--stat-avoidance); color: var(--bs-gray-dark); }


/* === Rarity border classes === */
.border-quality-0 { border-color: var(--quality-0) !important; } /* poor */
.border-quality-1 { border-color: var(--quality-1) !important; } /* common */
.border-quality-2 { border-color: var(--quality-2) !important; } /* uncommon */
.border-quality-3 { border-color: var(--quality-3) !important; } /* rare */
.border-quality-4 { border-color: var(--quality-4) !important; } /* epic */
.border-quality-5 { border-color: var(--quality-5) !important; } /* legendary */
.border-quality-6 { border-color: var(--quality-6) !important; } /* artifact */
.border-quality-7 { border-color: var(--quality-7) !important; } /* heirloom */
.border-quality-8 { border-color: var(--quality-8) !important; } /* token */
