<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/png" href="/assets/img/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/assets/img/favicon/favicon.svg" />
<link rel="shortcut icon" href="/assets/img/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="MythiStone" />
<link rel="manifest" href="/assets/img/favicon/site.webmanifest" />

<!-- Fonts and icons -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,900" />
<!-- Nucleo Icons -->
<link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
<link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
<!-- WoW Classes -->
<link href="/assets/css/classes.css" rel="stylesheet" />
<!-- Material Icons -->
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
<!-- CSS Files -->
<link id="pagestyle" href="/assets/css/material-dashboard.css" rel="stylesheet" />
<link rel="stylesheet" href="/assets/css/bootstrap-select.min.css" />
<link rel="stylesheet" href="/assets/css/search.css" />
<!-- bootstrap Icons-->
<link href="/assets/css/bootstrap-icons.css" rel="stylesheet" />
<!-- Klaro cookie consent -->
<script defer type="text/javascript" src="/assets/js/plugins/cookie-config.js"></script>
<script defer type="text/javascript" src="/assets/js/plugins/klaro.js"></script>
<link href="/assets/css/klaro.css" rel="stylesheet" />
<!-- Simple Web Analytics -->
<script type="text/plain" data-hostname="mythistone.github.io" data-type="application/javascript"
    data-name="simple-analytics" data-src='https://scripts.simpleanalyticscdn.com/latest.js'></script>
<!-- Google AdSense -->
<meta name="google-adsense-account" content="ca-pub-5589411805810733">
<script async 
type="text/plain" data-type="application/javascript" data-name="adsense"
data-src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5589411805810733"
    crossorigin="anonymous"></script>